<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

 <div class="comments">
          <h2>Comentarios</h2>

          <% @post.comments.each do |comment| %>
            <div class="panel panel-default">
           	<small> Creado  por: <%= comment.user.email %></small>
              <div class="panel-body">
              	<%= comment.body %> <br>
              		<% if comment.user_id == current_user.id %>
              	 		<%= link_to 'Edit', edit_post_comment_path(comment) %> -
              	 		<%= link_to 'Remove',post_comment_path(comment), method: :delete, data: { confirm: 'Are you sure to delete this comment?' } %>
              	 	<% end %>
              </div>
            </div>
          <% end %>

          <% if signed_in? %>
            <%= form_for [@post, @post.comments.build] do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
              </div>

              <div class="actions text-right">
                <%= f.submit "Comentar", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
          
   </div>
